@page
@model IndexModel
@{

    ViewData["Title"] = "Home page";

}
<img src="https://img.remediosdigitales.com/63c338/estreno-fast9-1/1366_2000.jpg" alt="F&F9" height="450px"
    width="800px" />
<div class="row mb-auto">
    <div class="col-md-7">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Dom Toretto vive una vida tranquila junto a Letty y su hijo, pero el peligro siempre regresa a su
                    vida. En esta ocasión,
                    el equipo se enfrenta a un complot mundial orquestado por el asesino más temible del mundo: el
                    hermano de Dom.
                </p>
            </div>
        </div>
    </div>

    <iframe width="950" height="534" src="https://www.youtube.com/embed/2x4gGetXJ1w"
        title="La CANTIDAD de VIDAS no determina la CALIDAD de la EXISTENCIA: Gato con botas 2 | Reflexiones"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <p></p>
    <iframe width="950" height="534" src="https://www.youtube.com/embed/yhb6tSMyHiI"
        title="RATATOUILLE | TIENES que verla 2 VECES para ENTENDERLA | Relato &amp; Reflexiones" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>


    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Las mejores reseñas sobre Películas
                </p>
                <p>
                    @* <a href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro" class="stretched-link">See the
                    tutorial</a>
                    *@ </p>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Puedes encontrar más información sobre Películas en nuestro sitio
                </p>
                <p>
                    @* <a href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-rp/intro/samples"
                    class="stretched-link">See project source code</a>
                    *@ </p>
            </div>
        </div>
    </div>
</div>